<!DOCTYPE html>
<html lang="en">

<head>
    <title>Application</title>
    <meta charset="utf-8" />
</head>


<body>
<h1>Removal of All Artists</h1>
<div>
    All artists have been removed from the database. Number of artists removed: <%- count %><br><br>
</div>
<a href="/">HOME</a>
</body>
</html>