<!DOCTYPE html>
<html lang="en">

<head>
    <title>Choose</title>
    <meta charset="utf-8" />
</head>


<body>
<h1>Choose a beatle below</h1>
<form action="http://localhost:<%- port %>/choose" method="post">
    <fieldset>
        <legend>Select Beatle</legend>
        <label><input type="radio" value = "John Lennon" name="artistsSelected">John Lennon</label><br/>
        <label><input type="radio" value = "Paul McCartney" name="artistsSelected">Paul McCartney</label><br/>
        <label><input type="radio" value = "George Harrison" name="artistsSelected">George Harrison</label><br/>
        <label><input type="radio" value = "Ringo Starr" name="artistsSelected">Ringo Starr</label><br/>
    <br>

    <input type="reset">&nbsp;
    <input type="submit" value ="Submit Responses">
<hr>
</form>
<a href="/">HOME</a>
</body>
</html>
