<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Beatles</title>
    <link rel="stylesheet" href="styles.ejs" type = "text/css"/>
</head>

<body style = "font-family: sans-serif;">
	<h1 style = "color:blue;">Welcome to Beatlemania!!</h1>
    <h2 style = "color: rgb(55, 110, 212);">Fab4</h2>
    <ul>
	<li>To select a beatle  <a href="/choose">Choose</a><br><br></li>
	<li>To see more information about selcted beatle/beatles  <a href="/review">Information</a><br></li>
    </ul>
	<hr>
    <h2 style = "color: rgb(65, 82, 235);">Delete Records</h2>
    <ul>
    <li>To remove all beatles  <a href="/remove">Remove All Beatles</a><br></li>
    </ul>
    <hr>
    <br>
    <br>
    <img src="https://www.thefest.com/wp-content/uploads/2021/01/RubberSoul.jpg" alt="The Greatest Band of All Time"/>
</body>
</html>
