<!DOCTYPE html>
<html lang="en">

<head>
    <title>Application</title>
    <meta charset="utf-8" />
</head>


<body>
<h1>Removing All Artists</h1>
<form action="http://localhost:<%- port %>/remove" method="post">
    <input type="submit" value ="Remove all applicants">
<hr>
</form>
<a href="/">HOME</a>
</body>
</html>